:root{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --error-color: #ff0033;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body{
    color: #cbc4dd;
    background-color: #24242e;
    margin: 0;
    padding: 0;
}



header{
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
    padding: 0;
}

header .logo{
    margin: auto;
    width: 500px;

}

.container{

    height: 50vh;
    margin: 12.5vh;
    display: grid;
    gap: 1rem;
    padding: 10px;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

.button{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #353535;
    color: #fff;
    font-size: 3rem;
    border-radius: 4px;


    transition: all 500ms;
    overflow: hidden;
}


.button:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: scale(1.1) translateY(-3px);
    cursor: pointer;
}

.popup-container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    transition: all 300ms;
    background-color: var(--bg-secondary);
    opacity: 0.9;
    
}

.popup-container div {
    background-color: black;
    height: 40vh;
    width: 50vw;
    border-radius:10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px 5px;
}

.popup-container  div.checkboxes {
    margin: 0;
    padding: 0;
    height: 20%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;

    color: var(--text-secondary);
    opacity: 1;
    font-size: 1em;
    gap: 0.5rem;
}


.popup-container  div.checkboxes div{
    height: 100%;
    width: 98%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    grid-column: 2 / end;
}

.popup-container div.checkboxes  h3.text-form{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    margin-top: auto;
    margin-bottom: auto;
}



.popup-container > div > form{
    height: 65%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr minmax(150px, auto);
    gap: 1rem;
}


form > .button {
    height: 45%;
    max-height: 45px;
    width: 70%;
    font-size: 18px;
    opacity: 1;
    background-color: #353535;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: end;
    
}

form > .button > h2 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.text-form{
    color: var(--text-secondary);
    opacity: 1;
    font-size: 1em;

    transition: all 250ms;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
}

.input-form{
    background-color: var(--text-secondary);
    width: 90%;
    height: 15%;
    padding:10px;
    border-radius:10px;
    opacity: 1;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: start;
}